.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
}
.header__left {
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}
.header__left > img {
	object-fit: contain;
	height: 2em;
	margin-left: 5px;
}
.header__middle {
	display: flex;
	flex: 0.7;
	align-items: center;
	background-color: rgba(228, 34, 140, 0.8);
	padding: 0.5rem;
	border-radius: 1rem;
}
.header__middle > .MuiSvgIcon-root:hover {
	transform: scale(1.3);
}
.header__middle > input {
	padding-left: 0.5rem;
	outline: none;
	border: none;
	width: 100%;
	font-size: medium;
	background-color: transparent;
}
.header__right {
	display: flex;
	align-items: center;
	padding-right: 2rem;
}
