.sidebarOption {
	display: flex;
	align-items: center;
	height: 2rem;
	padding: 0 1rem;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	cursor: pointer;
	color: gray;
}
.sidebarOption--active,
.sidebarOption:hover {
	background-color: rgba(250, 136, 199, 0.522);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.8);
}
.sidebarOption:hover,
.sidebarOption:hover > p,
.sidebarOption:hover > h3,
.sidebarOption--active,
.sidebarOption--active > p,
.sidebarOption--active > h3 {
	color: black;
	font-weight: 800 !important;
}
.sidebarOption > h3 {
	flex: 1;
	margin-left: 1rem;
	font-size: 14px;
	font-weight: 400;
}
.sidebarOption > p {
	display: none;
	font-weight: 300;
}
.sidebarOption--active > p {
	display: inline !important;
}
.sidebarOption:hover > p {
	display: inline;
}
